<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index/styles.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/utilities/header.css"></link>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
    <script>
        socket = io();
        socket.connect('http://127.0.0.1:5000/');
    </script>    
    <script type="text/javascript" src="../static/js/student/home.js"></script>
</head>
<body>
<header>
        <ul>
          <li><a href="/student">Accueil</a></li>
          <li><a href="/student/myaccount">Mon compte</a></li>
          <li><a href="/stucommencédent/logout">Déconnexion</a></li>
        </ul>
</header>
<div class="column">
    <div class="card" id="join">
            <form name="join-form" class="form" id="join" onsubmit="event.preventDefault();">
                <p style="font-size: 2em;margin: 0;height:10%;">Rejoindre un questionnaire</p>
                <input type="text" pattern=".{8,8}" maxlength="8" id="id" placeholder="Identifiant" title="8 caractères alphanumériques par exemple : YnAxIA8z" oninput="this.value=this.value.toLowerCase()" required="required">
                <input type="submit" value="Rejoindre">
            </form>
        </div>
    </div>
</body>
</html>