<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon Compte</title>
    <link rel="stylesheet" type="text/css" href="../static/css/utilities/header.css"></link>
</head>
<body>
<header>
        <ul>
          <li><a href="/student">Accueil</a></li>
          <li><a href="/student/myaccount">Mon compte</a></li>
          <li><a href="/student/logout">Déconnexion</a></li>
        </ul>
</header>   
<center><h1>Bonjour {{ user.firstname + " " + user.name }} </h1></center>
<h3>Changer de mot de passe : </h3>
<form action="/student/newpassword" method="POST">
  Ancien mot de passe : <input type="password" name="actual_password">
  Nouveau mot de passe : <input type="password" name="new_password">
  <input type="submit" value="Valider">
</form>
</body>
</html>