<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statement</title>
    <link rel="stylesheet" href="../../static/css/card-style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.css" integrity="sha384-vKruj+a13U8yHIkAyGgK1J3ArTLzrFGBbBc0tDp4ad/EyewESeXE/Iv67Aj8gKZ0" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.js" integrity="sha384-PwRUT/YqbnEjkZO0zZxNqcxACrXe+j766U2amXcgMg5457rve2Y7I6ZJSm2A0mS4" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/9.3.0/mermaid.min.js"></script>
    <script type="text/javascript" src="/static/js/math-rendering.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/js/script.js"></script>
    <link rel="stylesheet" type="text/css" href="../../static/css/global.css" >  
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
    <script>
        socket = io();
        socket.connect('http://127.0.0.1:5000/');
    </script>
</head>
<body>
<nav>
    <ul>
        <li><a href="/student">Accueil</a></li>
        <li><a href="/student/myaccount">Mon compte</a></li>
        <li><a href="/student/logout">Déconnexion</a></li>
    </ul>
  </nav>   

<div class="card">
    <div class="header-card" id="header">   
        <div class="translation" id="translation">  
                    {{ statement.get_state()|safe }}
        </div> 
    </div>  
    <div class="body-card">  
            <div class="content" id="content-response">  
                <input id="count" type="hidden" name="count" value="1">  
                <div class="list-response" id="list-response"> 
                {% if statement.decimal %} 
                <input step="0.01" type="number" id="decimal-response" name="statement" type="text" placeholder="Ecrire une réponse..." class="textarea-response"></textarea>  
                {% else %}  
                    {% for i in range (0,statement.possibles_responses|length) %}
                        <div class="response">
                            <div class="switch">  
                                <label class="switch">
                                    {% if stopped %}
                                    <input type="checkbox" onclick="return false;" name="{{ "switch" + i|string }}" id="{{ "switch" + i|string }}">
                                    {% else %}
                                    <input type="checkbox" name="{{ "switch" + i|string }}" id="{{ "switch" + i|string }}">
                                    {% endif %}
                                    <span class="slider round"></span>  
                                </label>  
                            </div>  
                            <p class="textarea-response"> {{ statement.possibles_responses[i] }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>  
                </div>  
                <div class="card-navbar">  
                    {% if stopped %}
                    <button class="animation" type="button" id="valider" onclick="alert('Vous ne pouvez pas répondre pour le moment')">Valider</button>
                    {% else %}
                    <button class="animation" type="button" id="valider" onclick="send_response()">Valider</button>
                    {% endif %}
                    
                </div>  
            </div>
    </div>
</div>
<script>


function student_join(){
    socket.emit('studentjoin',"{{ liveqcmid }}");
}

window.onload = student_join;

function send_response(){
        response_list = []
        if("{{ statement.decimal|tojson }}"==="false"){
            for(let i=0; i<Number("{{ statement.possibles_responses|length }}"); i++){
                $('#switch'+i).attr("onclick","return false;");
                if($('#switch'+i).is(":checked")){
                    response_list.push(i)
                    console.log(response_list)
                }
            }
        }
        else{
            response_list.push($('decimal-response').val());
        }
        socket.emit("newresponse",response_list,"{{liveqcmid}}");
}

socket.on('response_success',(success)=>{
    console.log(success);
    if(success) alert('Réponse envoyée avec succès !');
    else alert('Vous avez déjà répondu au questionnaire ! ');
});

socket.on('stop_question',()=>{
    console.log('stop')
    $('#valider').attr("onclick","alert('Vous ne pouvez pas répondre pour le moment');");
    for(let i=0; i<Number("{{ statement.possibles_responses|length }}"); i++){
        $('#switch'+i).attr("onclick","return false;");
    }
    
});

socket.on('unstop_question',()=>{
    console.log('test');
    $('#valider').attr("onclick","send_response()");
    for(let i=0; i<Number("{{ statement.possibles_responses|length }}"); i++){
        $('#switch'+i).attr("onclick","");
    }
})

socket.on('nextquestion',()=>{
    console.log('test');
    window.location.reload();
});

</script>
</body>
</html>