<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Création d'énoncé</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.css" integrity="sha384-vKruj+a13U8yHIkAyGgK1J3ArTLzrFGBbBc0tDp4ad/EyewESeXE/Iv67Aj8gKZ0" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.js" integrity="sha384-PwRUT/YqbnEjkZO0zZxNqcxACrXe+j766U2amXcgMg5457rve2Y7I6ZJSm2A0mS4" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/9.3.0/mermaid.min.js"></script>
    <script type="text/javascript" src="../../static/js/modules/math-rendering.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script type="text/javascript" src="/static/js/modules/chosen.jquery.js"></script>
    <link rel="stylesheet" href="../../static/css/chosen.css">
    <link rel="stylesheet" href="../../static/css/card-style.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/global.css" >
</head>    
<body>

<nav>
    <ul>
        <li><a href="/tools">Outils</a></li>
      <li><a href="/my_qcm">Mes QCM</a></li>
      <li><a href="/my_states">Mes énoncés</a></li>
      <li><a href="/qcm">Liste des QCM</a></li>
      <li><a href="/stats">Statistiques</a></li>
      <li><a href="/logout">Déconnexion</a></li>
    </ul>
  </nav>

<script>
$(function() {
    $(".chzn-select").chosen(
        {no_results_text:"Pas d'étiquette trouvée. Appuyez sur entrée pour ajouter "}
    );
});

var decimal = "{{ statement.decimal|tojson }}"==="true"

</script>
<script type="text/javascript" src="/static/js/teacher/creation.js"></script>
<form method="POST" id="new-statement" action="{{ "/set/" + statement.id|string }}" class="form-card">
    <div class="info">
        <div class="decimal">
            <label for="decimal">Decimal</label>
            {% if statement.decimal %}
            <input type="checkbox" id="decimal" name="decimal" checked="checked">
            <label> Question ouverte
                <input type="checkbox" id="open_question" name="open_question">
            </label>
            {% elif statement.open_question %}
            <input type="checkbox" id="decimal" name="decimal">
            <label> Question ouverte
                <input type="checkbox" id="open_question" name="open_question" checked="checked">
            </label>
            {% else %}
            <input type="checkbox" id="decimal" name="decimal">
            <label> Question ouverte
                <input type="checkbox" id="open_question" name="open_question">
            </label>
            {% endif %}
        </div>
        <div class="name-card">
            <p>Nom : </p>
            <input name="statement_name" value="{{ statement.name }}"id="statement_name" type="text">
        </div>
        <div class="etiquettes-bloc">
            <p>Choix des étiquettes : &nbsp;</p>
            <select class="chzn-select" id="select-tags" data-placeholder="Etiquettes" multiple="true" name="etiquettes[]" style="width:200px;">
            {% for tag in statement.tags %}
                <h1>{{ tag }}</h1>
                <option selected="selected">{{ tag }}</option>
            {% endfor %}
            </select>
        </div>
        
    </div>

    <div class="card">  
        <div class="header-card" id="header">  
            <textarea name="enonce" type="text" spellcheck="false" placeholder="Ecrire l énoncé..." id="enonce">{{ statement.question }}</textarea>
        </div> 
        <div class="body-card">  
            <div class="content" id="content-response">  
                <input id="count" type="hidden" name="count" value="1">  
                {% if statement.decimal %}
                <input step="0.01" type="number" id="decimal-response" name="statement" type="text" placeholder="Ecrire une réponse..." class="textarea-response" value="{{ statement.possibles_responses[0] }}">
                <div class="list-response" id="list-response" style="display: none;">  
                    <div class="response">  
                        <div class="switch">  
                            <label id="switch0" class="switch">
                                <input type="checkbox" name="switch0" id="switch0">
                                <span class="slider round"></span>  
                            </label>  
                        </div>  
                        <textarea name="statement0" type="text" placeholder="Ecrire une réponse..." class="textarea-response"></textarea>  
                    </div>  
                    <div class="response">  
                        <div class="switch">  
                            <label id="switch1" class="switch">
                                <input type="checkbox" name="switch1" id="switch1">
                                <span class="slider round"></span>  
                            </label>  
                        </div>  
                        <textarea name="statement1" type="text" placeholder="Ecrire une réponse..." class="textarea-response"></textarea>  
                    </div>  
                </div>  
                {% else %}
                <input step="0.01" type="number" id="decimal-response" name="statement" type="text" placeholder="Ecrire une réponse..." class="textarea-response" style="display: none;"></textarea>  
                <div class="list-response" id="list-response">  
                    
                    {% for i in range(0,statement.possibles_responses|length) %}
                    <div class="response">  
                        <div class="switch">  
                            <label id="{{ "switch"+ i|string }}" class="switch">
                                {% if i in statement.valids_responses %}
                                <input type="checkbox" checked="checked"  name="{{ "switch"+ i|string }}" id="{{ "switch"+ i|string }}">
                                {% else %}
                                <input type="checkbox" name="{{ "switch"+ i|string }}" id="{{ "switch"+ i|string }}">
                                {% endif %}
                                <span class="slider round"></span>  
                            </label>  
                        </div>  
                        <textarea name="{{ "statement"+ i|string }}" type="text" placeholder="Ecrire une réponse..." class="textarea-response">{{ statement.possibles_responses[i] }}</textarea>  
                    </div>  
                    {% endfor %}
                </div>  
                {% endif %}
        </div>  
            <div class="card-navbar">  
                <button class="animation rectangle" type="button" onclick="preview()" id="apercu">Aperçu</button>  
                {% if statement.decimal %}
                <div id="add_answer" onclick="add_answer()" class="circle animation" style="display: none;"><i class="fas fa-plus"></i></div>  
                {% else %}
                <div id="add_answer" onclick="add_answer()" class="circle animation"><i class="fas fa-plus"></i></div>  
                {% endif %}
                <button class="animation rectangle" type="submit" id="ajouter">Valider</button>  
            </div>  
        </div>  
    </div> 
</form>
</body>
</html>