<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question</title>
    <link rel="stylesheet" href="../static/css/card/card-style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.css" integrity="sha384-vKruj+a13U8yHIkAyGgK1J3ArTLzrFGBbBc0tDp4ad/EyewESeXE/Iv67Aj8gKZ0" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.js" integrity="sha384-PwRUT/YqbnEjkZO0zZxNqcxACrXe+j766U2amXcgMg5457rve2Y7I6ZJSm2A0mS4" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/9.3.0/mermaid.min.js"></script>
    <script type="text/javascript" src="/static/js/math-rendering.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/script.js"></script>
    <link rel="stylesheet" type="text/css" href="../../static/css/utilities/header.css" >
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
    <script>
        socket = io();
        socket.connect('http://127.0.0.1:5000/')
    </script>
</head>    
<body>


<header>
        <ul>
          <li><a href="/">Accueil</a></li>
          <li><a href="/my_qcm">Mes QCM</a></li>
          <li><a href="/my_states">Mes énoncés</a></li>
          <li><a href="/qcm">Liste des QCM</a></li>
          <li><a href="/logout">Déconnexion</a></li>
        </ul>
</header>
    
<style>
    .card{
        margin-left: 0px;
    }
</style>


<div class="card" id="card" value="{{ statement.id }}"> 
    <div class="header-card" id="header">   
        <div class="translation" id="translation">  
                    {{ statement.get_state()|safe }}
        </div> 
    </div>  
    <div class="body-card" >  
        <div class="content" id="content-response">  
            <input id="count" type="hidden" name="count" value="1">  
            <div class="list-response" id="list-response"> 
            {% if statement.decimal %} 
            <p id="decimalresponse" class="textarea-response" style="display: none;"> {{ statement.possibles_responses[0] }}</p>
            {% else %}  
                {% for i in range (0,statement.possibles_responses|length) %}
                    <div class="response">
                        <div class="switch">  
                            <label id="{{ "switch" + i|string }}" class="switch">
                                {% if i in statement.valids_responses %}
                                <input onclick="return false;" type="checkbox" name="{{ "switch" + i|string }}" id="valid">
                                {% else %}
                                <input onclick="return false;" type="checkbox" name="{{ "switch" + i|string }}" id="{{ "switch" + i|string }}">
                                {% endif %}
                                <span class="slider round"></span>  
                            </label>  
                        </div>  
                        <p class="textarea-response"> {{ statement.possibles_responses[i] }}</p>
                    </div>
                    <progress class="progress_bar" id="{{ "progress" + i|string }}" value="1" max="10"></progress>
                {% endfor %}
            {% endif %}
            
        </div>
            <p id ='student_count'>Connectés : 0</p>
            <p id ='response_count'>Réponses : 0</p>  
            </div>  
            <div class="card-navbar">  
                <a href="{{ "edit/" + statement.id|string }}" style="display: contents;"><button class="animation" type="submit" id="ajouter">Editer l'énoncé</button></a> 
                {% if projected %}
                <button class="animation" type="submit" id="project" onclick="stop('{{ statement.id }}')">Stopper la projection</button>
                {% else %}
                <button class="animation" type="submit" id="project" onclick="projection('{{ statement.id }}')">Projeter la question</button>
                {% endif %}
                <button class="animation" type="submit" id="correction" onclick="correction()">Correction</button>
            </div>  
    </div>  
</div> 
<script>

function correction(){
    if(!{{ statement.decimal|tojson }}){
        if($('input#valid').is(':checked')) $('input#valid').prop('checked',false);
        else $('input#valid').prop('checked',true);
    }
    else{
        if($('#decimalresponse').is(':hidden')) $('#decimalresponse').css('display','flex');
        else $('#decimalresponse').css('display','none');
    }
}

function projection(id){
    owner = socket.id
    $('#project').html("Stopper la projection");
    $('#project').attr('onclick','stop("{{ statement.id }}")')
    socket.emit('project',id,owner)
}

function stop(id){
    $('#project').html("Projeter la question");
    $('#project').attr('onclick','projection("{{ statement.id }}")');
    socket.emit('stop',id);
}

socket.on('reponse',(reponse,response_count)=>{
    $('#progress'+reponse_number).val(response_count);
})



socket.on('count',(count)=>{
    console.log(count)
    $('#student_count').text("Nombre d'étudiants : "+count);
    $('.progress_bar').attr('max',count);
})

</script>
</body>
</html>