<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mes énoncés</title>
    <link rel="stylesheet" type="text/css" href="../static/css/utilities/header.css" >
    <link rel="stylesheet" type="text/css" href="../static/css/my_qcm.css" >
    <link rel="stylesheet" type="text/css" href="../static/css/my_states.css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.css">
</head>
<body>
<header>
    <ul>
      <li><a href="/">Accueil</a></li>
      <li><a href="/my_qcm">Mes QCM</a></li>
      <li><a href="/my_states">Mes énoncés</a></li>
      <li><a href="/qcm">Liste des QCM</a></li>
      <li><a href="/logout">Déconnexion</a></li>
    </ul>
</header>
<form method="POST" action="/my_states">
    <select class="chzn-select" id="select-tags" data-placeholder="Etiquettes" multiple="true" name="etiquettes" style="width:200px;">
        {% for tag in tags %}
        <option>{{ tag }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Valider">
</form>
<div id="content">
    <form method="POST" action="/newqcm" id="newqcm">
        <ul>
            {% for statement in my_states_array %}
                <li><input name="{{ statement.id }}" type="checkbox" id="{{ statement.id }}">
                <label for="{{ statement.id }}"><a href="{{ "statement/" + statement.id }}">{{ statement.name }}</a><a href="{{ "statement/delete/" + statement.id|string }}"><button type="button">Supprimer</button></a></label></li>
            {% endfor %}
        </ul>
        <button type="submit" id="button-create-qcm" >Creer un Questionnaire</button>
        <div id="qcm">Titre du QCM : <input type="text" name="qcm_title" id="qcm_title"></div><br/><br/>
        <input id="button-create-qcm" type="submit" value="Valider">
    </form>
    <br/>
    <a href="/create">
        <button value="Ajouter card" id="button-add-card">Ajouter un énoncé</button>
    </a>
</div>
<script type="text/javascript" src="../static/js/mystates.js"></script>
</body>
</html>