<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mes énoncés</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/global.css" >
    <link rel="stylesheet" type="text/css" href="../../static/css/my_states.css" >
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../static/css/chosen.css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
</head>
<body>
<nav>
    <ul>
        <li><a href="/tools">Outils</a></li>
      <li><a href="/my_qcm">Mes QCM</a></li>
      <li><a href="/my_states">Mes énoncés</a></li>
      <li><a href="/qcm">Liste des QCM</a></li>
      <li><a href="/stats">Statistiques</a></li>
      <li><a href="/logout">Déconnexion</a></li>
    </ul>
  </nav>
  <div class="contain-body">
    <div class="bloc">
        <div class="form">
            <form method="POST" action="/my_states" class="form" id="searchform">
                <select class="chzn-select" id="select-tags" data-placeholder="Etiquettes" multiple="true" name="etiquettes">
                    {% for tag in tags %}
                    <option>{{ tag }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Valider" class="button-add button-search-submit" id="button-add">
            </form>
        </div>
        <form method="POST" action="/newqcm" class="form" id="newqcm">
        <ul class="ul-enonce">
            {% for statement in my_states_array %}
            <li class="li-enonce">
                <div class="switch">  
                    <label id="{{ statement.id }}" class="switch">
                        <input type="checkbox" name="{{ statement.id }}" id="{{ statement.id }}" class="checkbox-round">
                        <span class="slider round"></span>
                    </label>  
                </div>  
                <a class="title-enonce" href="{{ "statement/" + statement.id }}">{{ statement.name }}</a>
                        <a href="{{ "statement/delete/" + statement.id|string }}">
                        <button type="button" class="suppr-enonce"><i class="fas fa-trash"></i></button>
                </a>                
            </li>
            {% endfor %}
            {% if my_states_array|length == 0 %}
            <h2> Il n'y a aucun énoncé </h2>
            {% endif %}
        </ul>
        <a class="button-link" href="#popup1">
            <button type="button" class="button-add" id="button-add-card">Creer un Questionnaire</button>
        </a>
        <a href="/create" class="button-link">
            <button type="button" value="Ajouter card" class="button-add" id="button-add-card">Ajouter un énoncé</button>
        </a>
        <div id="popup1" class="overlay">
            <div class="popup">
                <h2>Titre du QCM</h2>
                <a class="close" href="#">&times;</a>
                <div class="content">
                        <input type="text" name="qcm_title" id="qcm_title" placeholder="Titre du QCM">
                        <button type="submit" class="create_questionnaire" id="button-add-card">Creer un Questionnaire</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../static/js/mystates.js"></script>
</body>
</html>