<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.css" integrity="sha384-vKruj+a13U8yHIkAyGgK1J3ArTLzrFGBbBc0tDp4ad/EyewESeXE/Iv67Aj8gKZ0" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.js" integrity="sha384-PwRUT/YqbnEjkZO0zZxNqcxACrXe+j766U2amXcgMg5457rve2Y7I6ZJSm2A0mS4" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/9.3.0/mermaid.min.js"></script>
    <script type="text/javascript" src="/static/js/modules/math-rendering.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/js/teacher/creation.js"></script>
    <link rel="stylesheet" type="text/css" href="../../static/css/global.css" >    
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../static/css/card-style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.0.0/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-cloud/1.2.5/d3.layout.cloud.js"></script>
    <script>
        qcm_id = "{{ qcm.id }}";
        statement_id = "{{ statement.id }}";
        liveqcm_id = "{{ liveqcm_id }}";
        projected = "{{ projected|tojson }}"==="true";
        statement_index = "{{ statement_index }}";
        statement_number = "{{ statement_number }}";
        decimal = "{{ statement.decimal|tojson }}"==="true";
        socket = io();
        socket.connect('http://127.0.0.1:5000/');
    </script>
    <script src="../../static/js/teacher/projection.js"></script>
    <script src="../../static/js/teacher/qcm.js"></script>
</head>    
<body style="
    display: flex;
    flex-direction: column;
    align-items: center;
" onload="verify_statement()">
<nav>
    <ul>
        <li><a href="/tools">Outils</a></li>
        <li><a href="/my_qcm">Mes QCM</a></li>
        <li><a href="/my_states">Mes énoncés</a></li>
        <li><a href="/qcm">Liste des QCM</a></li>
        <li><a href="/stats">Statistiques</a></li>
        <li><a href="/logout">Déconnexion</a></li>
    </ul>
</nav>

<h1> Nom du Qcm : {{ qcm.name }}</h1>
<div class="projection_info">
    <h2 id ='liveqcm_id'>{% if projected %} Identifiant du questionnaire : {{ liveqcm_id }} {% endif %}</h2>  
    <p id ='student_count' hidden>Connectés : 0</p>
    <p id ='response_count' hidden>Réponses : 0</p>  
</div>
<div class="card" id="card" value="{{ statement.id }}"> 
    <div class="header-card" id="header">   
        <div class="translation" id="translation">  
                    {{ statement.get_state()|safe }}
        </div> 
    </div>  
    <div class="body-card" >  
        <div class="content" id="content-response">  
            <input id="count" type="hidden" name="count" value="1">  
            <div class="list-response" id="list-response"> 
            {% if statement.decimal %} 
            <p id="decimalresponse" class="textarea-response" style="display: none;"> {{ statement.possibles_responses[0] }}</p>
            {% elif statement.open_question %}
            <svg id="cloud_word" width="350" height="250"></svg>
            {% else %}  
                {% for i in range (0,statement.possibles_responses|length) %}
                    <div class="response">
                        <div class="switch">  
                            <label id="{{ "switch" + i|string }}" class="switch">
                                {% if i in statement.valids_responses %}
                                <input onclick="return false;" type="checkbox" name="{{ "switch" + i|string }}" id="valid">
                                {% else %}
                                <input onclick="return false;" type="checkbox" name="{{ "switch" + i|string }}" id="{{ "switch" + i|string }}">
                                {% endif %}
                                <span class="slider round"></span>  
                            </label>  
                        </div>  
                        <p class="textarea-response"> {{ statement.possibles_responses[i] }}</p>
                    </div>
                    <progress class="progress_bar" id="{{ "progress" + i|string }}" value="0" max="0" hidden></progress>
                {% endfor %}
            {% endif %}
            
        </div>
            <p id ='student_count' hidden>Connectés : 0</p>
            <p id ='response_count' hidden>Réponses : 0</p>  
        </div>  
            <div class="card-navbar">  
                {% if statement_number != 0 and not(projected) %}
                <button class="animation rectangle" id="previousquestion" onclick="previous()">Précédent</button> 
                {% elif not(projected) %}          
                <button class="animation rectangle" type="submit" id="project" onclick="projection('{{ qcm.id }}')">Projeter le qcm</button>
                <button class="animation rectangle" type="submit" id="stop" onclick="stop(liveqcm_id)" hidden>Désactiver les réponses</button>
                {% else %}
                <button class="animation rectangle" type="submit" id="stop" onclick="stop(liveqcm_id)">Désactiver les réponses</button>
                <button class="animation rectangle" type="submit" id="project" onclick="stop_projection()">Stopper la projection</button>
                {% endif %}
                {% if not(statement.open_question) %}
                <button class="animation rectangle" type="submit" id="correction" onclick="correction()">Correction</button>
                {% endif %}
                {% if not(final) %}
                <button class="animation rectangle" id="nextquestion" onclick="nextquestion()">Suivant</button>
                {% endif %}
            </div>  
    </div>  
</div> 

<script src="../../static/js/modules/word_cloud.js"></script>
</body>
</html>