<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistiques</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" >
    <link rel="stylesheet" type="text/css" href="../../static/css/global.css" >
    <link rel="stylesheet" type="text/css" href="../../static/css/list_qcm.css" >
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
    <script>
        socket = io();
        socket.connect('http://127.0.0.1:5000/')
    </script>
</head>
<body style="
    display: flex;
    flex-direction: column;
    align-items: center;
">
<nav>
    <ul>
        <li><a href="/add_students">Ajouter des étudiants</a></li>
      <li><a href="/my_qcm">Mes QCM</a></li>
      <li><a href="/my_states">Mes énoncés</a></li>
      <li><a href="/qcm">Liste des QCM</a></li>
      <li><a href="/stats">Statistiques</a></li>
      <li><a href="/logout">Déconnexion</a></li>
    </ul>
</nav>
<center><h2 style="margin-top: 30%;margin-bottom: 30%;">Statistiques</h2></center>

<select class="form-select" aria-label="select" id='liveqcm_select' style="width: 30%; margin-bottom: 3%;">
    <option value="option" selected>Sélectionner un liveqcm</option>
    {% for liveqcm in liveqcm_list %}
    <option value="{{ liveqcm.id }}">{{ liveqcm.id }}</option>
    {% endfor %}
</select>


<canvas id="myChart" style="width:100%;max-width:700px"></canvas>

<script>

$('#liveqcm_select').on('change',function(){
    var option = $(this).find("option:selected");
    var option_value = option.val();
    if(option_value!="option"){
        socket.emit('stats',option_value);
    }
    console.log(option_value);
});

socket.on('stats',(data)=>{
    const xValues = data.x_values;
    const yValues = data.y_values;

    new Chart("myChart", {
    type: "line",
    data: {
        labels: xValues,
        datasets: [{
        backgroundColor:"rgba(0,0,255,1.0)",
        borderColor: "rgba(0,0,255,0.1)",
        data: yValues
        }]
    },
    options: {
        scales :{
            yAxes:[{
                ticks:{
                    stepSize:1.0
                }
            }]
        },
        legend:{display:false},
        title:{
            display:true,
            text:"Nombre de réponses par énoncé",
            fontSize:16
        }
    }
    });
});

</script>

</body>
</html>