<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistiques</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../../static/css/list_qcm.css" >
    <link rel="stylesheet" type="text/css" href="../../static/css/global.css" >
    <script>
        socket = io();
        socket.connect('http://127.0.0.1:5000/')
    </script>
</head>
<body style="
    display: flex;
    flex-direction: column;
    align-items: center;
">
<nav>
    <ul>
        <li><a href="/add_students">Ajouter des étudiants</a></li>
      <li><a href="/my_qcm">Mes QCM</a></li>
      <li><a href="/my_states">Mes énoncés</a></li>
      <li><a href="/qcm">Liste des QCM</a></li>
      <li><a href="/stats">Statistiques</a></li>
      <li><a href="/logout">Déconnexion</a></li>
    </ul>
</nav>
<center><h2 style="margin-top: 30%;margin-bottom: 30%;">Statistiques par projection</h2></center>


<select class="form-control" aria-label="select" id='liveqcm_select' style="width: 30%; margin-bottom: 3%;">
    <option value="option" selected>Sélectionner un liveqcm</option>
    {% for liveqcm in liveqcm_list %}
    <option value="{{ liveqcm.id }}">{{ liveqcm.id }}</option>
    {% endfor %}
</select>

<canvas id="liveqcm_stats" style="width:100%;max-width:700px" hidden></canvas>


<center><h2 style="margin-top: 30%;margin-bottom: 20%;">Statistiques par étudiants</h2></center>

<div style="width: 30%; margin-bottom: 3%;">
    <select class="form-control selectpicker" id="student_select" data-live-search="true" style="width: 30%; margin-bottom: 3%;">
        <option data-tokens="option" value="option" selected>Sélectionner un étudiant</option>
        {% for student in student_list %}
        <option data-tokens="{{ student.name }} {{ student.firstname }}" value="{{ student.student_number }}">{{student.name+" "+student.firstname}}</option>
        {% endfor %}
    </select>
</div>

<canvas id="student_stats" style="width:100%;max-width:700px" hidden></canvas>


<script>

/* Envoie de la demande de données à la sélection */
$('#liveqcm_select').on('change',function(){
    var option = $(this).find("option:selected");
    var option_value = option.val();
    if(option_value!="option"){
        socket.emit('stats',option_value);
    }
});

/* Envoie de la demande de données à la sélection */
$('#student_select').on('change',function(){
    var option = $(this).find("option:selected");
    var option_value = option.val();
    if(option_value!="option"){
        socket.emit('student_stats',option_value);
    }
});

/* Réception des stats et affichage du graphique */
socket.on('stats',(data)=>{
    const xValues = data.x_values;
    const yValues = data.y_values;

    new Chart("liveqcm_stats", {
    type: "line",
    data: {
        labels: xValues,
        datasets: [{
        backgroundColor:"rgba(0,0,255,1.0)",
        borderColor: "rgba(0,0,255,0.1)",
        data: yValues
        }]
    },
    options: {
        scales :{
            yAxes:[{
                ticks:{
                    stepSize:1.0
                }
            }]
        },
        legend:{display:false},
        title:{
            display:true,
            text:"Nombre de réponses par question",
            fontSize:16
        }
    }
    });
    $("liveqcm_stats").css("display","flex");
});

socket.on('student_stats',(msg)=>{
    console.log(msg);
});


</script>

</body>
</html>