<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Outils</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/home.css"></link>
    <link rel="stylesheet" href="../../static/css/chosen.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/global.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/my_states.css" >
    <link rel="stylesheet" type="text/css" href="../../static/css/tools.css" >
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
  error = "{{ error }}" === "True"
  var socket = io();
</script>
<body>
  <nav>
    <ul>
      <li><a href="/tools">Outils</a></li>
      <li><a href="/my_qcm">Mes QCM</a></li>
      <li><a href="/my_states">Mes énoncés</a></li>
      <li><a href="/qcm">Liste des QCM</a></li>
      <li><a href="/stats">Statistiques</a></li>
      <li><a href="/logout">Déconnexion</a></li>
    </ul>
  </nav>

<center><h1 style="margin-top: 5%;"> Génération de controles </h1></center>

<div class="tags-div">
  <select id="select-tags" data-placeholder="Etiquettes" multiple="true" name="etiquettes" style="width:500px;">
    {% for tag in tags %}
    <option>{{ tag }}</option>
    {% endfor %}
  </select>
  <input class="button-add button-search-submit" type="button" onclick="exam_generator()" value="Valider">
</div>

<div id="tags-modal" class="modal">
  <div id="tag-content" class="modal-content">
    <form id="tag-form" action="/generate_test" method="POST">
      <span class="close">&times;</span>
      <label class="form-label" for="customFile"><h3>Donner le nombre de question par tag</h3></label>      
      <label style="display: block;"> Ordre :
        <select style="width: auto; margin-top: 1%;" class="form-select" name="order">
          <option value="shuffle">Mélangé</option>
          <option value="sort">Par thèmes</option>
        </select>
      </label>
      <label style="display: block; margin: 10px 0;"> Mode avancé
        <input id='advanced' type="checkbox" name="advanced">
      </label>
      <ul id="tag-list"></ul>
      <label> Nombre de sujets :
        <input required="required" type="number" name="subject-number">
      </label>
      <label id='total_number'> Nombre total de question :
        <input type="number" name="total_number">
      </label>
      <input id="submit-tags" type="submit" value="Valider" style="margin-top: 5%; display: block;">
    </form>
  </div>
</div>

<center><h1 style="margin-top: 5%;"> Ajout d'étudiants </h1></center>

<center><button id="add-student">Ajouter des étudiants</button></center>



<div id="csv-modal" class="modal">
  <div class="modal-content">
    <form action="/receive_csv" method="POST" enctype=multipart/form-data>
      <span class="close">&times;</span>
      <label class="form-label" for="customFile">Ajouter votre fichier csv ici : </label>
      <input type="file" name="file" class="form-control" id="customFile" accept=".csv"/>
      <input id="submitnews" type="submit" value="Valider">
    </form>  
  </div>
</div>

<script src="../../static/js/teacher/tools.js"></script>
</body>
</html>