#content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#content li {
    padding: 5px;
    border-bottom: 1px solid #ccc;
    color: #333;
    background-color: rgba(0, 0, 0, 0.153);
    border-radius: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
#content li:last-child {
    border-bottom: none;
}