<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Création d'énoncé</title>
    <link rel="stylesheet" href="static/css/card/card-style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.css" integrity="sha384-vKruj+a13U8yHIkAyGgK1J3ArTLzrFGBbBc0tDp4ad/EyewESeXE/Iv67Aj8gKZ0" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.js" integrity="sha384-PwRUT/YqbnEjkZO0zZxNqcxACrXe+j766U2amXcgMg5457rve2Y7I6ZJSm2A0mS4" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/9.3.0/mermaid.min.js"></script>
    <script type="text/javascript" src="/static/js/math-rendering.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/script.js"></script>
</head>    
<body>
<form method="POST" id="new-question" action="/newstate" class="form-card">
    <div class="card">  
        <div class="header-card" id="header">  
            <textarea name="enonce" type="text" spellcheck="false" placeholder="Ecrire l énoncé..." id="enonce"></textarea>
        </div> 
        <div class="body-card">  
            <div class="content" id="content-response">  
                <input id="count" type="hidden" name="count" value="1">  
                <div class="list-response" id="list-response">  
                    <div class="response">  
                        <div class="switch">  
                            <label id="switch0" class="switch">
                                <input type="checkbox" name="switch0" id="switch0">
                                <span class="slider round"></span>  
                            </label>  
                        </div>  
                        <textarea name="question0" type="text" placeholder="Ecrire une réponse..." class="textarea-response"></textarea>  
                    </div>  
                    <div class="response">  
                        <div class="switch">  
                            <label id="switch1" class="switch">
                                <input type="checkbox" name="switch1" id="switch1">
                                <span class="slider round"></span>  
                            </label>  
                        </div>  
                        <textarea name="question1" type="text" placeholder="Ecrire une réponse..." class="textarea-response"></textarea>  
                    </div>  
            </div>  
        </div>  
            <div class="card-navbar">  
                <button class="animation" type="button" onclick="preview()" id="apercu">Aperçu</button>  
                <div onclick="add_answer()" class="circle animation"><i class="fas fa-plus"></i></div>  
                <button class="animation" type="submit" id="ajouter">Valider</button>  
            </div>  
        </div>  
    </div> 
</form>


    <!-- Bonton de création d'une question -->

    <button value="Ajouter card" onclick="new_card()" id="button-add-card">Ajouter une question</button>

    <!--  Apparition des questions déjà enregistrées   -->

<!--
    Code pour faire apparaitre les énoncés

    {% for question in question_array %}
    <form action="/question" class="form-card">
        <div class='card' id ={{ question.id }}> 
            <div class='header-card'> 
            </div> 
            <div class='body-card'> 
                {% for i in range (0,question.possibles_responses|length) %}
                <div class='content-response' id={{ "responses_"+ question.id }}> 
                    <div class='response' id={{ "response"+ i|string +"_"+ question.id }}> 
                        <div class='switch'> 
                            <input type='checkbox' id={{ "switch"+ i|string +"_"+ question.id }}> 
                            <label for={{ "switch"+ i|string +"_"+ question.id }}></label> 
                        </div> 
                        <p> {{ question.possibles_responses[i] }}</p> 
                        <i class='fas fa-trash'></i> 
                    </div> 
                {% endfor %}
                <div class='card-navbar'> 
                    <button type='submit' id={{ "submitV_"+ question.id }}>Valider</button> 
                </div> 
            </div> 
        </div>
    </form>
    {% endfor %}
-->
</body>
</html>