<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/card/card-style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" rel="stylesheet">
</head>    
<body>
    <div class="card">
        <div class="header-card">
            <textarea type="text" spellcheck="false" placeholder="Ecrire l'énoncé..." id="enonce"></textarea>
        </div>
        <div class="body-card">
            <div class="content" id="content-response">
                <div class="response" id="response1">
                    <div class="switch">
                        <input type="checkbox" id="switch1">
                        <label for="switch1"></label>
                    </div>
                    <p> de profondeur 2</p>
                    <i class="fas fa-trash"></i>
                </div>
                <div class="response" id="response1">
                    <div class="switch">
                        <input type="checkbox" id="switch2">
                        <label for="switch2"></label>
                    </div>
                    <p> de profondeur 2</p>
                    <i class="fas fa-trash"></i>
                </div>
                <div class="response" id="response1">
                    <div class="switch">
                        <input type="checkbox" id="switch3">
                        <label for="switch3"></label>
                    </div>
                    <p> de profondeur 2</p>
                    <i class="fas fa-trash"></i>
                </div>
                <div class="response" id="response1">
                    <div class="switch">
                        <input type="checkbox" id="switch3">
                        <label for="switch3"></label>
                    </div>
                    <p> de profondeur 2</p>
                    <i class="fas fa-trash"></i>
                </div>
                <div class="response" id="response1">
                    <div class="switch">
                        <input type="checkbox" id="switch3">
                        <label for="switch3"></label>
                    </div>
                    <p> de profondeur 2</p>
                    <i class="fas fa-trash"></i>
                </div>
            </div>
            <div class="card-navbar">
                <button type="submit" id="apercu">Aperçu</button>
                <div class="circle"><i class="fas fa-plus"></i></div>
                <button type="submit" id="ajouter">Valider</button>
            </div>
        </div>
    </div>
</body>
</html>