<html>
   <head>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/9.3.0/mermaid.min.js"></script>
   </head>
   <body>
      <form action = "http://localhost:5000/site" method = "get">
         <p>Username:</p>
         <p>Password:</p>
         <p><input type = "text" name = "name" /></p>
         <p><input type = "password" name = "password"/></p>
         <p><input type = "submit" value = "submit" /></p>
         <p></p>
      </form>
      <div class="mermaid">
         graph TD;
             A-->B;
             A-->C;
             B-->D;
             C-->D;
         </div>
   </body>
</html>