<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mes QCM</title>
    <link rel="stylesheet" type="text/css" href="../static/css/utilities/header.css" >
    <link rel="stylesheet" type="text/css" href="../static/css/my_qcm.css" >
    <link rel="stylesheet" type="text/css" href="../static/css/utilities/list.css" >
</head>
<body>
<header>
    <ul>
      <li><a href="/">Accueil</a></li>
      <li><a href="/my_qcm">Mes QCM</a></li>
      <li><a href="/my_states">Mes énoncés</a></li>
      <li><a href="/qcm">Liste des QCM</a></li>
      <li><a href="/logout">Déconnexion</a></li>
    </ul>
</header>
<div id="content">
    <ul>
        {% for qcm in my_qcm_array %}
            <a href="{{ "qcm/" + qcm.id }}"><li>{{ qcm.name }}</a><a href="{{ "qcm/delete/" + qcm.id|string }}"><button type="button">Supprimer</button></a></li>
        {% endfor %}
    </ul>
</div>
</body>
</html>