<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../static/css/header.css" >
    <link rel="stylesheet" type="text/css" href="../static/css/my_qcm.css" >
    <link rel="stylesheet" type="text/css" href="../static/css/list/list.css" >
</head>
<body>
<header>
    <ul>
      <li><a href="/">Accueil</a></li>
      <li><a href="/my_qcm">Mes QCM</a></li>
      <li><a href="/my_states">Mes énoncés</a></li>
      <li><a href="/qcm">Liste des QCM</a></li>
      <li><a href="/logout">Déconnexion</a></li>
    </ul>
</header>
<div id="content">
    <ul>
        {% for qcm in my_qcm_array %}
            <li>{{ qcm.name }} <span class="cross">&#10006;</span></li>
        {% endfor %}
    </ul>
    <br/>
    <div style="text-align:center">
        <a href="/create">
            <button value="Ajouter card" id="button-add-card">Ajouter un énoncé</button>
        </a>
    </div>
</div>
</body>
</html>