<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../static/css/utilities/header.css" >
    <link rel="stylesheet" type="text/css" href="../static/css/my_qcm.css" >
    <link rel="stylesheet" type="text/css" href="../static/css/list/list.css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body>
<header>
    <ul>
      <li><a href="/">Accueil</a></li>
      <li><a href="/my_qcm">Mes QCM</a></li>
      <li><a href="/my_states">Mes énoncés</a></li>
      <li><a href="/qcm">Liste des QCM</a></li>
      <li><a href="/logout">Déconnexion</a></li>
    </ul>
</header>
<div id="content">
    <form method="POST" action="/newqcm" id="newqcm">
    <ul>
        {% for statement in my_states_array %}
            <li><input name="{{ statement.id }}" type="checkbox" id="{{ statement.id }}">
            <label for="{{ statement.id }}"><a href="{{ "statement/" + statement.id }}">{{ statement.name }}</a><span class="cross">&#10006;</span></label></li>
        {% endfor %}
    </ul>
    Titre du QCM : <input type="text" name="qcm_title" id="qcm_title"><br/><br/>
    <button type="submit" id="button-add-card">Creer un Questionnaire</button>
    </form>
    <br/>
    <a href="/create">
        <button value="Ajouter card" id="button-add-card">Ajouter un énoncé</button>
    </a>
</div>
<script>

$(document).ready(function(){
    $("#newqcm").submit(function(){
        if($('#qcm_title').val()==""){
            alert("Vous devez saisir un nom pour le questionnaire !");
            return false;
        }
        if ($('input:checkbox').filter(':checked').length < 1){
            alert("Il faut cocher au moins un énoncé !");
		    return false;
		}
        return true
    });
});

</script>
</body>
</html>