<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choisi entre la partie élève ou professeur.</title>
    <link rel="stylesheet" type="text/css" href="../static/css/student_or_teacher.css"> 
</head>
<body>
    <div class="student card">
        <h1>Elève</h1>
        <div class="content">
            <ul class="avantages student-avantages">
                <li>Peut se connecter avec son adresse universitaire</li>
                <li>Répondre à des questionnaires</li>
            </ul>
        </div>
        <button  class="button_integrate" id="integrate-student">Intégrer la partie élève</button>
    </div>
    <div class="teacher card">
        <h1>Professeur(e)</h1>
        <div class="content">
            <ul class="avantages teacher-avantages">
                <li>Peut créer des énoncés de type différents</li>
                <li>Peut ajouter des étiquettes à des énoncés</li>
                <li>Peut créer des questionnaires à partir des énoncés</li>
                <li>Peut gérer ses énoncés et ses QCM</li>
                <li>Accès au nombre d'élèves connectés</li>
            </ul>
        </div>
        <button class="button_integrate" id="integrate-teacher">Intégrer la partie Professeur(e)</button>
    </div>
</body>
</html>